@page
@model IndexModel
@{
    ViewData["Title"] = "Blue";
}
<body style="background-color:blue;">
    <div class="text-center">
        <p><font size="7" color="white"><center>You're My Boy Blue!</center></font></p>
    </div>
</body>